<article class="three-fourth text">
    <h1>{{ _('Добро пожаловать в Рецептуарий!') }}</h1>
    <p>{{ _('&laquo;Рецептурий&raquo; &mdash; место, где вы можете собрать все свои рецепты!') }}</p>
    <p>{{ _('Делитесь своими рецептами, открывайте для себя новые кулинарные изыски, экспериментируйте, сохраняйте то, что
    понравилось в избранное и получайте удовольствие от приготовления еды вместе с Рецептуарием!') }}</p>
    {% if current_user.is_anonymous %}
        <a href="{{ url_for('public.register') }}" class="button white more medium">{{ _('Присоединяйтесь к сообществу Рецептуария!') }} <i class="fa fa-chevron-right"></i></a>
        <p>{{ _('Уже регистрировались?') }} <a href="{{ url_for('public.login') }}">{{ _('Войдите') }}</a>, {{ _('чтобы авторизоваться') }}.</p>
    {% endif %}
</article>