{% extends 'base.html' %}

{% block body %}
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
        <!--content-->
            <section class="content center full-width">
                <div class="modal-site container">
                    <h3>{{ _('Авторизация') }}</h3>

                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="f-row">
                            {% if form.username.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.username(placeholder=form.username.label.text) }}
                            {% if form.username.errors %}
                                {{ error.list(form.username.errors) }}
                            {% endif %}
                        </div>
                        <div class="f-row">
                            {% if form.password.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.password(placeholder=form.password.label.text) }}
                            {% if form.password.errors %}
                                {{ error.list(form.password.errors) }}
                            {% endif %}
                        </div>
                        <div class="f-row">
                            {{ form.remember_me() }} {{ form.remember_me.label }}
                        </div>
                        <div class="f-row bwrap">
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </form>

                    <p><a href="{{ url_for('public.password_recovery') }}">{{ _('Забыли пароль?') }}</a></p>
                    <p>{{ _('Нет учетной записи?') }} <a href="{{ url_for('public.register') }}">{{ _('Зарегистрируйтесь!') }}</a></p>
                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
{% endblock %}