{% extends 'base.html' %}

{% block body %}
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
        <!--content-->
            <section class="content center full-width">
                <div class="modal-site container">
                    <h3>{{ _('Создание нового пароля') }}</h3>

                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="f-row">
                            {% if form.password.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.password(placeholder=form.password.label.text) }}
                            {% if form.password.errors %}{{ error.list(form.password.errors) }}{% endif %}
                        </div>
                        <div class="f-row">
                            {% if form.password2.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.password2(placeholder=form.password2.label.text) }}
                            {% if form.password2.errors %}{{ error.list(form.password2.errors) }}{% endif %}
                        </div>
                        <div class="f-row bwrap">
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </form>

                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
{% endblock %}