{% extends 'base.html' %}

{% block body %}
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
        <!--content-->
            <section class="content center full-width">
                <div class="modal-site container">
                    <h3>{{ _('Восстановление пароля') }}</h3>

                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <div class="f-row">
                            {% if form.email.flags.required %}<span class="req">*</span>{% endif %}
                            {{ form.email(placeholder=form.email.label.text) }}
                            {% if form.email.errors %}
                                {{ error.list(form.email.errors) }}
                            {% endif %}
                        </div>
                        <div class="f-row bwrap">
                            {{ form.submit(class='btn btn-primary') }}
                        </div>
                    </form>

                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
{% endblock %}